In [3]:
import pandas as pd
import numpy as np

In [4]:
MAIN_DATA = pd.read_csv("/content/dane8.csv")

In [5]:
df_twitter = MAIN_DATA.copy()

In [6]:
df_twitter

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count,user_time_zone,user_urls,user_verified
0,NaN,Thu Dec 01 15:29:44 +0000 2022,NaN,NaN,NaN,4,1598338566471520258,prezydentpl,1.598246e+18,4.393274e+07,...,44,177,0,NaN,CasusBelli,SlavCasusBelli,1726,NaN,NaN,False
1,NaN,Thu Dec 01 13:28:05 +0000 2022,NaN,NaN,NaN,2,1598307952502374400,Piotr69450735,1.598306e+18,1.102908e+18,...,5838,4877,12,NaN,üáµüá± JupiterüíØ‚úå üáµüá±,Jupiter300571,57766,NaN,NaN,False
2,NaN,Thu Dec 01 13:31:57 +0000 2022,NaN,NaN,NaN,1,1598308922967953410,Piechocinski,1.598062e+18,3.231774e+08,...,49,79,0,NaN,Artur,artur_atl,10685,NaN,NaN,False
3,NaN,Thu Dec 01 16:41:52 +0000 2022,NaN,NaN,http://energetyczna.Za,1,1598356719838629890,marek67r,1.598194e+18,2.261166e+09,...,124,31,10,Niebo,Kicia micia prosto z mostu!Bez ogr√≥dek !,Joannazielenie2,25735,NaN,NaN,False
4,NaN,Thu Dec 01 15:54:40 +0000 2022,NaN,NaN,NaN,0,1598344839904591875,Adam52724763,1.598344e+18,1.320265e+18,...,1164,1132,12,Warszawa,Piotr Kross,Piotr18658370,16287,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3584,NaN,Wed Nov 23 08:04:58 +0000 2022,NaN,NaN,NaN,0,1595327532794003458,BarioMarti,1.595303e+18,2.374332e+09,...,536,967,12,NaN,Adam Pawlicki,AdamPawlicki2,88090,NaN,NaN,False
3585,NaN,Wed Nov 23 08:02:01 +0000 2022,PAPinformacje zakopane wƒôgiel,NaN,https://www.pap.pl/aktualnosci/news%2C1487523%...,4,1595326790272274435,NaN,NaN,NaN,...,230859,932,817,NaN,PAP,PAPinformacje,51260,NaN,http://www.pap.pl,False
3586,NaN,Wed Nov 23 07:51:59 +0000 2022,NaN,NaN,NaN,1,1595324268212011013,WnikliwyTadeusz,1.595311e+18,4.803592e+09,...,1044,1060,5,NaN,Pan Pas Ratunkowy,Marek84106373,14969,NaN,NaN,False
3587,NaN,Wed Nov 23 02:47:47 +0000 2022,NaN,NaN,NaN,0,1595247711653068802,Mrugala_Michal,1.595044e+18,1.447460e+18,...,10,4,0,NaN,Narcyz Zaremba,ZarembaNarcyz,826,NaN,NaN,False
3588,NaN,Wed Nov 23 04:56:35 +0000 2022,NaN,NaN,NaN,5,1595280126496890880,SkrzyniarzIrena,1.595148e+18,8.254484e+17,...,617,665,2,NaN,Dorota Polskawr√≥ci,polskawroci,13571,NaN,NaN,False

In [7]:
# 1.	Wypisz top5 tweet√≥w z najwiƒôksza liczbƒÖ polubie≈Ñ.

top5_tweets = df_twitter.sort_values(by='favorite_count', ascending=False).head(5)

In [8]:
df_twitter.columns

Index(['coordinates', 'created_at', 'hashtags', 'media', 'urls',
       'favorite_count', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'lang', 'place',
       'possibly_sensitive', 'quote_id', 'retweet_count', 'retweet_id',
       'retweet_screen_name', 'source', 'text', 'tweet_url', 'user_created_at',
       'user_id', 'user_default_profile_image', 'user_description',
       'user_favourites_count', 'user_followers_count', 'user_friends_count',
       'user_listed_count', 'user_location', 'user_name', 'user_screen_name',
       'user_statuses_count', 'user_time_zone', 'user_urls', 'user_verified'],
      dtype='object')

In [9]:
print(top5_tweets["id"])

3398    1595434412350607360
2084    1596535261286240256
484     1597932779567992832
1626    1597197402322223105
3076    1595697908564824064
Name: id, dtype: int64

In [10]:
# 2.	Wypisz top5 tweet√≥w z najwiƒôksza liczbƒÖ retweet√≥w.

top5_tweets_retweet = df_twitter.sort_values(by='retweet_count', ascending=False).head(5)

In [11]:
print(top5_tweets_retweet["id"])

484     1597932779567992832
3398    1595434412350607360
3076    1595697908564824064
921     1597614543542562816
1626    1597197402322223105
Name: id, dtype: int64

In [12]:
# 3.	Wy≈õwietl tylko te tweety, kt√≥re nie sƒÖ uznane jako ‚Äúwra≈ºliwe‚Äù (kolumna possibly_sensitive).

df_twitter["possibly_sensitive"]  #tylko sprawdza≈Çam jak sa zapisane warto≈õci,
#poniewa≈º to projekt studencki, zostawiam ≈õlady toku my≈õlenia (jakkolwiek to brzmi)

0         NaN
1         NaN
2         NaN
3       False
4         NaN
        ...
3584      NaN
3585    False
3586      NaN
3587      NaN
3588      NaN
Name: possibly_sensitive, Length: 3589, dtype: object

In [13]:
print(df_twitter[df_twitter["possibly_sensitive"] == False]["text"])

3       @marek67r Wƒôgiel to z≈Çoto i potƒôga https://t.c...
7       4. W wizycie wicewojewody uczestniczyli r√≥wnie...
8       1. ≈ª Y W I E C |üü° Wƒôgiel trafia do kolejnych g...
12      Film stary jak wƒôgiel, a robi robotƒô üòÅ https:/...
20      Wƒôgiel przyjecha≈Ç. Ale to wciƒÖ≈º ma≈Ço.\nhttps:/...
                              ...
3568    SamorzƒÖdy uczƒÖ siƒô... jak handlowaƒá wƒôglem htt...
3575    Po grze naszych pi≈Çkarzy by≈Ço widaƒá, ≈ºe do tej...
3576       Wƒôgiel w strefie oporu https://t.co/HJSCHNC40D
3580    Kiedy≈õ bƒôdzie z tego wƒôgiel. https://t.co/P9aT...
3585    Zakopane potrzebuje 3 tysiƒÖce ton wƒôgla. Dosta...
Name: text, Length: 784, dtype: object

In [14]:
# 4.	Wy≈õwietl tweety u≈ºytkownika, kt√≥ry za≈Ço≈ºy≈Ç konto najwcze≈õniej (spo≈õr√≥d wszystkich u≈ºytkownik√≥w w datasecie) (kolumna user_created_at).

df_twitter["user_created_at"]

0       Wed Mar 09 09:27:43 +0000 2022
1       Thu Oct 03 16:49:31 +0000 2019
2       Fri Aug 14 12:18:51 +0000 2009
3       Tue Nov 30 11:56:11 +0000 2021
4       Tue Feb 27 08:30:00 +0000 2018
                     ...
3584    Tue Feb 09 21:18:51 +0000 2016
3585    Wed Jun 19 09:57:29 +0000 2013
3586    Tue Jan 25 16:09:23 +0000 2022
3587    Fri Feb 25 19:32:09 +0000 2022
3588    Wed Aug 31 04:13:16 +0000 2022
Name: user_created_at, Length: 3589, dtype: object

In [15]:
df_twitter["user_created_at"] = pd.to_datetime(df_twitter["user_created_at"])

<ipython-input-15-9b8bfa60fb39>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_twitter["user_created_at"] = pd.to_datetime(df_twitter["user_created_at"])

In [16]:
first_time = df_twitter["user_created_at"].min()

In [17]:
first_user = df_twitter[df_twitter["user_created_at"] == first_time]

In [18]:
print(first_user["text"])

2635    @Greenpeace_PL @KubaG96 Czyli wiecie na czym n...
3103    @jakubwiech Ale w wƒôgiel inwestujƒÖ czy nie inw...
Name: text, dtype: object

In [19]:
# 5.	Wy≈õwietl tweety u≈ºytkownika. kt√≥ry ma najwiƒôcej followers√≥w.

most_followers = df_twitter["user_followers_count"].max()

In [20]:
most_popular_user = df_twitter[df_twitter["user_followers_count"] == most_followers]

In [21]:
print(most_popular_user["text"])

2171    Mieszkaniec powiatu strzeli≈Ñskiego (wojew√≥dztw...
Name: text, dtype: object

In [22]:
# 6.	Wy≈õwietl tylko zweryfikowanych u≈ºytkownik√≥w (kolumna user_verified)

df_twitter["user_verified"]

0       False
1       False
2       False
3       False
4       False
        ...
3584    False
3585    False
3586    False
3587    False
3588    False
Name: user_verified, Length: 3589, dtype: bool

In [23]:
print(df_twitter[df_twitter["user_verified"] == True]["user_name"])

62                       Janusz Kowalski üáµüá±
144                      Janusz Kowalski üáµüá±
391                             Artur ≈ÅƒÖcki
399                         Konrad Frysztak
446                        Solidarna Polska
484                           Bogdan Rzo≈Ñca
488            Podlaski UrzƒÖd Wojew√≥dzki üáµüá±
574            Podlaski UrzƒÖd Wojew√≥dzki üáµüá±
765                               TVN24 BiS
845                   Paulina Hennig-Kloska
964                               Forsal.pl
1041    Ministerstwo Aktyw√≥w Pa≈Ñstwowych üáµüá±
1150                            tvp.info üáµüá±
1172    Ministerstwo Aktyw√≥w Pa≈Ñstwowych üáµüá±
1379                            Dziennik.pl
1471                              TVN24 BiS
1560                         S≈Çawek Neumann
1607                    Monika WIELICHOWSKA
1660                          Bogdan Rzo≈Ñca
1677                              Forsal.pl
1678                          Bogdan Rzo≈Ñca
1973                         Maciej TrƒÖbski
2045                              Fakty TVN
2151                           Tomasz Trela
2171                                  tvn24
2288                         Adam Szejnfeld
2442                              Forsal.pl
2556                     Robert Kropiwnicki
2604                              Forsal.pl
2730                         Rzeczpospolita
2834                      PrzeglƒÖd Sportowy
2946                            tvp.info üáµüá±
3006                              TVN24 BiS
3282                  Paulina Hennig-Kloska
3385                  Paulina Hennig-Kloska
3398                     Janusz Kowalski üáµüá±
3568                            Dziennik.pl
Name: user_name, dtype: object

In [24]:
# 7.	Podaj, w kt√≥ry dzie≈Ñ tygodnia najczƒô≈õciej by≈Çy publikowane tweety z datasetu

df_twitter["created_at"] = pd.to_datetime(df_twitter["created_at"])

<ipython-input-24-5a2979639548>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_twitter["created_at"] = pd.to_datetime(df_twitter["created_at"])

In [25]:
df_twitter["weekday"] = df_twitter["created_at"].dt.day_name()

In [26]:
 most_frequent_weekday = df_twitter["weekday"].mode()
 print(most_frequent_weekday)

0    Thursday
Name: weekday, dtype: object